[data-md-color-scheme="co-connect"] {    
    --md-primary-fg-color:white;
    --md-primary-fg-color--dark:  #3db28c;

    --md-primary-bg-color: #3c3c3b;
    --md-typeset-a-color: #3db28c;

    --md-footer-bg-color: #475da7;

}

.md-button--primary{
    color: white !important;
    background-color: #475da7 !important;
}

.md-button--secondary{
    color: white !important;
    background-color: #3db28c !important;
}


:root {
  --md-admonition-icon--co-connect: url('/images/favicon.png')
}
.md-typeset .admonition.co-connect,
.md-typeset details.co-connect {
  border-color: #475da7;
}
.md-typeset .co-connect > .admonition-title,
.md-typeset .co-connect > summary {
    background-color: #475da788;
}
.md-typeset .co-connect > .admonition-title::before,
.md-typeset .co-connect > summary::before {
  background-color: #475da7;
  -webkit-mask-image: var(--md-admonition-icon--co-connect);
          mask-image: var(--md-admonition-icon--co-connect);
}

