site_name: CaRROT Docs
theme:
  name: material
  palette:
    scheme: carrot
  custom_dir: overrides      
  logo: images/favicon.png
  favicon: images/favicon.png
  features:
    - navigation.sections
    #- navigation.expand 
    #- toc.integrate
extra_css:
  - stylesheets/custom.css

  
nav:
  - Welcome: index.md
  #- Getting Started:
  #    - Introduction: GettingStarted/index-data-team.md
  #    - OHDSI-in-a-Box:
  #      - What is it?: GettingStarted/OHDSI-in-a-Box.md
  #      - Install: GettingStarted/install-OHDSI-in-a-Box.md
  #      - Exploring Datasets with Python: GettingStarted/explore-datasets-python.ipynb
  #    - WhiteRabbit: GettingStarted/white-rabbit.md


  - CaRROT-Mapper:
      - About: CaRROT-Mapper/about.md
      - Quickstart [WIP]: CaRROT-Mapper/quickstart.md
      - User Guide:
          - Projects, Datasets, Scan Reports, and Permissions: CaRROT-Mapper/projects-datasets-and-scanreports.md
          - Uploading a Scan Report file: CaRROT-Mapper/uploading-scan-report.md
      - Developer Guide:
          - Internal data structures: CaRROT-Mapper/internal-data-structures.md
          - Mapping Rules: CaRROT-Mapper/mapping-rules.md
          - API: CaRROT-Mapper/API.md
          - Azure Functions:
              - Local Functions: AzureFunctions/RunningLocally.md
              - ProcessQueue: AzureFunctions/ProcessQueue.md
              - NLPQueue: AzureFunctions/NlpQueue.md
          - Database Migrations: CaRROT-Mapper/migrations.md
          - Adding new vocabularies: CaRROT-Mapper/Adding-a-vocabulary.md
          - Testing:
              - Running Django Tests: Testing/django-testing.md
              - Writing Django Tests: Testing/django-testing-writing.md
      #- Downloading Mapping:   CaRROT-Mapper/downloading-rules.md
      
  - CaRROT-CDM:
      - About: CaRROT-CDM/About.md
      - User Guide:
          - FAQ: CaRROT-CDM/FAQ.md
          - Installing: CaRROT-CDM/Installing.md
          - ETL:
              - About : CaRROT-CDM/ETL/About.md
              - Quick Guide: CaRROT-CDM/ETL/ETL-Guide.md
              - Detailed Guide:
                  - Yaml Configuration: CaRROT-CDM/ETL/Yaml.md
                  - Extract:
                      - Input Data:  CaRROT-CDM/ETL/Extract.md
                      - Pseudonymisation: CaRROT-CDM/ETL/Pseudonymisation.md
                  - Transform:
                      - JSON Rules: CaRROT-CDM/ETL/Rules.md
                      - Command Line: CaRROT-CDM/ETL/Transform.md
                      - GUI: CaRROT-CDM/ETL/Transform-GUI.md
                  - Load: CaRROT-CDM/ETL/Load.md
          - Common Errors: CaRROT-CDM/CommonErrors.md
          - Additional Tools:
              - Command Line Interface: CaRROT-CDM/CommandLine.md
              - Generating Synthetic Data:
                  - Command Line: CaRROT-CDM/SyntheticData.md
                  - By Hand: 'CaRROT-CDM/notebooks/Generating Synthetic Data By Hand.ipynb'
      - Developer Guide:
          - CDM:
              - Overview: CaRROT-CDM/CommonDataModel.md
              - Tables:
                  - Common: CaRROT-CDM/Common.md
                  - Person: CaRROT-CDM/Person.md
                  - Condition Occurrence: CaRROT-CDM/ConditionOccurrence.md
                  - Visit Occurrence: CaRROT-CDM/VisitOccurrence.md
                  - Measurement: CaRROT-CDM/Measurement.md
                  - Observation: CaRROT-CDM/Observation.md
                  - Drug Exposure: CaRROT-CDM/DrugExposure.md
                  - Procedure Occurrence: CaRROT-CDM/ProcedureOccurrence.md
                  - Specimen: CaRROT-CDM/Specimen.md
          - Source documentation:
              - CLI:
                  - CaRROT-CDM/CLI/CLI.md
                  - CaRROT-CDM/CLI/Run.md
              - Data Collections: CaRROT-CDM/DataCollection.md
              - File Helpers: CaRROT-CDM/FileHelpers.md
              - Rule Helpers: CaRROT-CDM/RuleHelpers.md
              - Logging: CaRROT-CDM/Logger.md
              - Profiling: CaRROT-CDM/Profiling.md
          - Developer Guide: CaRROT-CDM/ETL/ETL-Developer-Guide.md
          - ETL Workbook Example: "CaRROT-CDM/notebooks/Introduction\ -\ Using\ the\ ETLTool.ipynb"
          - Performance:
              - cProfile: CaRROT-CDM/Performance/cProfile.md
      - Notebooks:
          - CaRROT-CDM/notebooks/Part 1 - Introduction.ipynb
          - CaRROT-CDM/notebooks/Part 2 - Command Line .ipynb
          - CaRROT-CDM/notebooks/Part 3 - ETL-Tool.ipynb
          - CaRROT-CDM/notebooks/Part 4 - Local.ipynb
          - CaRROT-CDM/notebooks/Part 5 - SQL.ipynb
          - CaRROT-CDM/notebooks/Part 6 - BCLink.ipynb
          - CaRROT-CDM/notebooks/Part 7 - Manually Loading Dataframes.ipynb
          - CaRROT-CDM/notebooks/Part 8 - Create PyConfig.ipynb
          #- CaRROT-CDM/notebooks/Part 9 - Analysis.ipynb
  - CaRROT Pseudonymise:
      - Pseudonymisation: CaRROT-Pseudonymise/Pseudonymisation.md

  - BCLink:
      - Test Link (for developers):
          - Via SSH: BCLink/TestLink/ssh.md
          - Notes:
              - Sep 14: BCLink/TestLink/Notes/14Sep.md
              - Sep 15: BCLink/TestLink/Notes/15Sep.md
              - Sep 28: BCLink/TestLink/Notes/28Sep.md

plugins:
  - mknotebooks:
      enable_default_jupyter_cell_styling: false
      write_markdown: false
      binder: false
      binder_service_name: "gh"
      binder_branch: "master"
  - search
  - mkdocstrings:
      handlers:
        python:
          rendering:
            show_if_no_docstring: true
            show_root_heading: true
          selection:
            filters:
              - "!^_"  # exlude all members starting with _
              - "^__init__$"  # but always include __init__ modules and methods
          setup_commands:
            - import sys
            - sys.path.append("docs/CaRROT-CDM/source_code/")
            - import coconnect


markdown_extensions:
  - toc:
      permalink: true
      toc_depth: 4
  - codehilite
  - admonition
  - footnotes
  - pymdownx.tabbed
  - pymdownx.superfences
  - pymdownx.snippets
  - pymdownx.details
  - attr_list
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.smartsymbols
  - pymdownx.critic:
      mode: view
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.tasklist:
      custom_checkbox: true
  
#extra_css:
#  - stylesheets/extra.css
  
#extra_javascript:
#  - javascripts/config.js
#  - https://polyfill.io/v3/polyfill.min.js?features=es6
#  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
#  - https://cdn.plot.ly/plotly-latest.min.js
